@media (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  .conteudo {
    display: flex;
    width: 200vw;
    min-height: 100vh;
    transition: transform 0.3s ease;
  }

  .sidebar {
    width: 100vw;
    min-height: 100vh;
    position: relative;
  }

  .main {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    padding: 1.5rem;
    overflow-y: auto;
  }

  .card-header {
    gap: 1rem;
  }

  .selecao.card .dropdown-menu {
    left: auto;
    right: 3px;
    transform: none;
    top: auto;
    bottom: -70%;
    margin-top: 0;
    margin-bottom: -7px;
  }

  .btn-editar,
  .btn-apagar {
    min-width: unset;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .btn-tarefa {
    width: 175px;
  }

  .apagarEstatus {
    gap: 0.5rem;
  }

  .formulario-modal.visivel {
    max-height: 800px;
  }

  .btn-dropdown {
    min-width: 115px;
  }
}
